<div class="splashPageBanner row">
	<div class="container">
	    <div class="container col s12 center-align">
	        <%= form_tag '/sessions',  method: :post do  %>

	    				<div>

						<%= text_field_tag :first_name, nil, placeholder: "First Name" %>

						</div>

						<div>		
							<%= text_field_tag :last_name, nil, placeholder: " Last Name" %>
						</div>

						<div>
							<%= text_field_tag :country, nil, placeholder: " Country"%>
						</div>

						<div>
							<%= text_field_tag :address, nil, placeholder: " Address"%>
						</div>

						<div>
							<%= text_field_tag :phone, nil, placeholder: "Phone number"%>
						</div>

						<div>
						<%= password_field_tag :password, nil, placeholder: "Password"%>
						</div>

						<div> 
							<%= file_field_tag :avatar,  placeholder: "Upload your photo" %>
						</div>

	          
	          <input type="submit" value="Singup" class="waves-effect waves-light btn-large">
	        <% end %>
	    </div>
	 </div>
</div>





