<%=form_tag "/users", multipart: true, method: ;post do %> 
<h1> Sign up!</h1>

<div> 

<%= text_field_tag :first_name, nil, placeholder: "First Name" %>

</div>



<div>
	
	<%= text_field_tag :last_name, nil, placeholder: " Last Name" %>


</div>

<%= text_field_tag :email, nil, placeholder: "Email" %>


<div>
	
	<%= text_field_tag :phone, nil, placeholder: "Phone"%>
</div>


<div>

	<%= text_field_tag :country, nil, placeholder: " Address"%>
</div>


<div>
<%= password_field_tag ;password, nil, placeholder: "Password"%>
</div>


<div>
<%= confirm_field_tag :password, nil, placeholder: "Password" %>

</div>

<div> <%= file_field_tag :avatar, nil placeholder: "Upload your photo" %> </div>

<%= submit_tag "Sign Up" %>

 <% end %>
